<script src="/static/js/jquery.js"></script>
<div style="width: 60%;margin-left: 20%;word-break: break-word;">
    <div id="main"></div>
    <br/>
    <textarea id="message" style="width: 50%;"rows="5"></textarea>
    <button onclick="send()">Send</button>
    <i style="opacity: 0.5">Ctrl+Enter</i>
    <button onclick="clear_log()">Clear</button>
</div>
<style>
   .ai,.human{
       white-space: pre-wrap;
   }
    .human{
        text-align: right;
        background-color: blanchedalmond;
    }
    .ai{
        text-align: left;
        background-color: aliceblue;
    }
</style>
<script>

    $("#message").on('keyup',function (event){
        if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey){
            send();
        }
    });
    function add_record(record){
        var p = $("<p></p>").text(record['content']);

        p.add('message');
        if (record['author'].toLowerCase().includes('ai')){
            p.addClass('ai');
        }else{
            p.addClass('human');
        }
        $("#main").append(p);
    }
    function get_all(){
        $.get('/get_all',function (data){
            $("#main").html('')
            data.forEach(function(record){
                add_record(record);
            });
        })
    }
    get_all();
    function send(){
        var message = $("#message").val();
        $("#message").val('');
        $.get('/send',{message:message},function (data){
            get_all();
        })

    }
    function clear_log(){
        $.get('/clear',{},function (data){
            get_all();
        });
    }
</script>